main {
    margin: 20vh auto 0 auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px black;
    padding: 5vh;
}

.curiosidades {
    margin: 20vh auto 0 auto;
    width: 70%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px black;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7vh 10vh 0 10vh;
    gap: 20px;
    text-align: left;
}

.conteudo img {
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.521);
    max-width: 100%;
    height: auto; 
}

.texto-conteudo {
    padding: 40px;
    text-align: justify; 
    flex: 1; 
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
        padding: 5vh;
    }

    .conteudo img {
        width: 80%; 
        margin-bottom: 20px;
    }

    .texto-conteudo {
        width: 90%; 
        padding: 20px;
        text-align: justify;
    }
}

@media screen and (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        padding: 5vh 5vh;
        gap: 20px;
    }

    .texto-conteudo {
        width: 100%; 
        padding: 15px;
        font-size: 1em; 
        line-height: 1.6; 
    }

    .conteudo img {
        width: 100%; 
    }
}

@media screen and (max-width: 480px) {
    main {
        margin: 10vh auto 0 auto;
        padding: 2vh; 
    }

    .conteudo {
        padding: 2vh 2vw; 
        gap: 10px; 
    }

    .texto-conteudo {
        padding: 10px; 
        font-size: 1em; 
        line-height: 1.4em; 
    }

    .conteudo img {
        margin-bottom: 10px; 
    }
}
