/* Estilos Gerais - Ínicio */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;  
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/*Variáveis globais*/
:root{
    --color-neutral-0: #003983;
    --color-neutral-10: #004aad;
    --color-neutral-30: #ffffff;
    --color-neutral-40: #ffffff;
}   

/* Estilos Gerais - Fim */

/* NavBar - Ínicio */
.navbar{
    background-color: #fff;
    height: 80px;
}

.container-fluid .navbar-brand{
    font-weight: bold;
    color: #004aad;      
}

.login-button{
    background-color: #004aad;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;

    transition: .35s background-color;
}

.login-button:hover{    
    background-color: #7DA7D9;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.87));
    transition: .35s background-color;
}

.navbar-togger {
    border: none;
    font-size: 1.23rem;
}

.navbar-togger:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-item{
    color: #666777;
    font-weight: 500;
}
.nav-item:active{
    color: #ff0000;
    text-decoration: 3px underline #004aad;
}


/*Responsividade - NavBar*/
@media (min-width: 991px){
    .nav-item > a{
        transition: .3s;
    }
    
    .nav-item > a:hover{
        text-decoration: 3px underline #004aad; 
        transition: .3s;
        color: #000;
    }
}

/* NavBar - Fim */

main{
    height: 80vh;
}


/* Rodapé - Ínicio */

footer{
    width: 100%;
    color: var(--color-neutral-40);
    box-shadow: 1px 1px 20px black;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: .75rem;
}

.img-logo-footer{
    text-align: center;
}

.img-logo-footer img{
    filter: drop-shadow(1px 1px 4px rgb(0, 34, 66));
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: .4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: .8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9007);
}

#whatsapp{
    background-color: #25d366;
}

#x-twitter{
    background-color: #0e0c0c;
} 

.footer-list{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
}

.footer-list .footer-link:hover{
    color: #ffffff;
    text-decoration: underline;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--color-neutral-30);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: .75rem;
    width: 100%;
}

#input_group button{
    background-color: #160ac0;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all .4s;
}

#input_group button:hover{
    opacity: 1.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: .9rem;
    padding: 1.5rem;
    font-weight: 100;
}


/*Responsividade - Footer*/
@media screen and (max-width: 768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footer_content{
        grid-template-columns: 1fr;
        padding: 3rem 2rem;
    }
}
/* Rodapé - Fim */